<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>10</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net6.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net6.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-10-17T11:40:20.9955404Z;True|2023-10-17T02:53:33.2060627+02:00;True|2023-10-17T01:43:14.3360841+02:00;True|2023-10-04T14:41:35.9905615+02:00;True|2023-10-01T20:48:25.8177002+02:00;True|2023-10-01T20:24:38.8087059+02:00;True|2023-10-01T20:18:03.9166805+02:00;True|2023-10-01T20:16:16.5912052+02:00;False|2023-10-01T20:13:30.2818519+02:00;False|2023-10-01T20:12:36.4734748+02:00;False|2023-10-01T20:10:56.0946805+02:00;False|2023-10-01T20:10:13.2767553+02:00;True|2023-10-01T20:05:41.3626571+02:00;False|2023-10-01T20:05:14.9895536+02:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>.NET Runtime 6.0.21 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>